# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
*.bat

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# IDEs
.idea/
# OS files
.DS_Store

# Excel files
*.xlsm
~$*

# Jupyter
.ipynb_checkpoints
